{% load static %}

<div class="container-fluid footer">
    <div class="row py-5">
        <div class="col-sm-6 my-3">
            Reach out to us on: <br>
            <i class="far fa-envelope pr-3 footer-grey"></i>
            <a href="mailto:programming.club@ahduni.edu.in" class="footer-grey">programming.club@ahduni.edu.in</a><br>
            <i class="fab fa-instagram pr-3 footer-grey"></i>
            <a href="https://www.instagram.com/pclub_au/" class="footer-grey">pclub_au</a>
        </div>
        <div class="col-sm-6 my-3">
            Developed by: <br>
            <span class="footer-grey">Vinay Kakkad</span>
            <a href="https://github.com/vinaykakkad"><i class="fab fa-github pl-3 footer-grey"></i></a>
            <a href="https://www.linkedin.com/in/vinay-kakkad-18978a1a4/"><i class="fab fa-linkedin pl-3 footer-grey"></i></a>
        </div>
    </div>
</div>