{% load static %}

<div class="container-fluid footer">
    <div class="row my-5">
        <div class="col-sm-6 my-3">
            Reach out to us on: <br>
            <i class="far fa-envelope pr-3"></i>
            <a href="mailto:programming.club@ahduni.edu.in" class="__cf_email__">programming.club@ahduni.edu.in</a><br>
            <i class="fab fa-instagram pr-3"></i><a href="https://www.instagram.com/pclub_au/">pclub_au</a> 
        </div>
        <div class="col-sm-6 my-3">
            Developed by: <br> 
            Vinay Kakkad<a href="https://www.linkedin.com/in/vinay-kakkad-18978a1a4/">  <i class="fab fa-linkedin pl-3"></i></a>
                        <a href="https://github.com/vinaykakkad"></a><i class="fab fa-github"></i><br> 
        </div>
    </div>
</div>