{% load static %}

<nav class="navbar navbar-expand-lg p-0 nav-class">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" alt="PCLUB" class="logo-class">
    </a>
    <button class="custom-toggler navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#mynav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="custom-toggler navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="mynav">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if request.user.is_authenticated %}
                <li class="nav-item link-class dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nav-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi, {{request.user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="nav-dropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link link-class" href="{% url 'user_login' %}">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link link-class" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link link-class" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-class" href="{% url 'events' %}?clear=1">Events</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link link-class" href="{% url 'resources' %}?clear=1">Resources</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link link-class" href="{% url 'profiles' %}">Profiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-class" href="{% url 'about' %}">About</a>
            </li>
        </ul>
    </div>
</nav>