body {
    background: linear-gradient(75deg, #ff0054, #2e39dc);
    background-size: cover;
    position: relative;
}

#profiles-list-body {
    min-height: 60vh;
}

.profiles-heading {
    text-align: center;
    color: white;
    font-size: 60px;
}

.underline {
    border: 2px solid white;
    width: 200px;
}

.profiles-table {
    width: 300px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.profiles-table td {
    padding: 10px;
    height: 30px;
}

@media screen and (max-width: 600px) {
    .profiles-heading {
        font-size: 35px;
    }
    .underline {
        border: 2px solid white;
        width: 100px;
    }
    .profiles-table {
        width: 540px;
    }
}