<div class="modal fade" id="cfid-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mr-auto">Change Password</h4>
                <button type="button" class="close ml-auto" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'profile' %} " method="POST" class="form-group">
                    {% csrf_token %}
                    <input type="hidden" name="field" value="cf_username">
                    <br>
                    <input type="text" name="cf_username" placeholder="New id" class="form-control">
                    <br>
                    <input type="password" name="password" placeholder="Password" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-dark center-mx">Submit</button>
                </form>    
            </div>
        </div>
    </div>
</div>