body {
    background: linear-gradient(30deg, #2E39DC, #ff0054);
    background-size: cover;
    background-repeat: no-repeat;
}

#about-body {
    min-height: 50vh;
}

.heading {
    text-align: center;
    color: white;
    font-size: 60px;
}

.underline {
    border: 2px solid white;
    width: 250px;
}

.underline-small {
    border: 2px solid white;
    width: 150px;
}

.description {
    text-align: justify;
    color: white;
    font-size: 18px;
    padding: 10 50 10 50;
}

@media screen and (max-width: 600px) {
    .heading {
        font-size: 35px;
        text-align: center;
    }
    .underline {
        border: 2px solid white;
        width: 150px;
    }
    .description {
        padding: 10 10 10 10;
    }
    .underline-small {
        width: 75px;
    }
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: white;
    color: #ff0054;
    transform: rotateY(180deg);
}

.img-circle {
    border-radius: 50%;
}