{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>PCW-Github</title>
    <link rel="stylesheet" href="{% static 'profiles/css/api.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <script src="https://unpkg.com/chartjs-plugin-colorschemes"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

        var ctx = document.getElementById('languages-chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: Object.keys({{all_languages|safe}}),
                datasets: [{
                    data: Object.values({{all_languages|safe}}),
                    borderWidth: 2
                }]
            },
            options: {
                legend: {
                    display: false
                },
                plugins: {
                    colorschemes: {
                        scheme: 'tableau.HueCircle19'
                    }
                }
            }
        });
    });
    </script>
{% endblock %}

{% block content %}
    <section id="api-body">
        {% if status %}
            <div class="statistics-box mx-auto">
                <h3>Stats</h3>
                <table class="table-striped">
                    <tr>
                        <td class="col-1">Total Repository:</td>
                        <td class="col-2">{{repos}}</td>
                    </tr>
                    </tr>
                    <tr>
                        <td class="col-1">Favourite Language:<sup><a href="#comments-div">*</a></sup>:</td>
                        <td class="col-2">
                            {{max_language}}   
                            {% if max_language is not None %}
                                <a href="{% url 'resources' %}?tags={{max_language}}">Check resources</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>

            <div id="comments-div" class="mx-auto mb-5">
                * Most used language in your Repositories<br>
            </div>

            {% if repos != 0%}
                <h3>Results</h3>
                <div class="charts-container mx-auto mb-5">
                    <canvas id="languages-chart"></canvas>
                </div>    
            {% else %}
                <h3>No problems solved yet</h3>
            {% endif %}    
        {% else %}
            <h3>Something went wrong, please try again.</h3>   
        {% endif %}
    </section>
    <section>
        {% include 'profiles/profiles_pagination.html' %}
        {% include 'footer.html' %}
    </section>
{% endblock %}