{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>PCW-Events</title>
    <link rel="stylesheet" href="{% static 'events/css/events.css'%}">
    <script src="{% static 'events/js/events.js' %}"></script>
{% endblock %}

{% block content%}
<section id="events-header">
    <div class="container-fluid pt-5">
        <p class="center-mx heading"> 
            Events<br>
            <div class="container underline"></div>
        </p>
    </div>
    
    <div class="container-fluid d-flex justify-content-center">
    <button type="button" class="btn btn-md filter-button" data-toggle="modal" data-target="#events_modal">Filter</button>    
    {% if filtered %}
        &emsp;
        <a href="{% url 'events' %}?clear=1">
            <button type="button" class="btn btn-md filter-button">Clear</button>
        </a>
    {% endif %}
    </div>
    {% include 'events/events_modal.html' %}
</section>

<section id="events-body">
    {% for event in page_object %}
        <div class="row events-row m-0 py-5">
            <div class="col-md d-flex align-items-center mp-0">
                <div class="carousel-box">
                    {% include 'events/events_carousel.html' %}
                </div>
            </div>
            <div class="col-md d-flex align-items-center mp-0">
                <div class="description-box d-flex align-items-center">
                    <div>
                        <span class="">
                            <b>{{event.title}}</b>
                        </span><br><br>
                        <span class="">
                            {{event.description}}
                        </span><br><br>
                        <span class="">
                            Date: {{event.start_date}} - {{event.end_date}}
                        </span><br><br>
                        <span class="">
                            {% if event.is_registration_active %}
                            <a href="{{event.registration_link}}" target="_blank">
                                <button class="btn btn-md btn-light">Register</button>
                            </a>
                            {% endif %}
                        </span>
                    </div>
                </div>        
            </div>
        </div>
    {% endfor %}    
</section>

<section id="event-footer">
    {% include 'pagination.html' %}
    {% include 'footer.html' %}
</section>
{% endblock %} 