body {
    background: linear-gradient(75deg, #06d6a0, #2e39dc);
    /* background-color: #06d6a0; */
    background-size: cover;
    position: relative;
}

.heading {
    text-align: center;
    color: white;
    font-size: 60px;
}

.underline {
    border: 2px solid white;
    width: 200px;
}

@media screen and (max-width: 600px) {
    .heading {
        font-size: 35px;
    }
    .underline {
        border: 2px solid white;
        width: 100px;
    }
}

.filter-button {
    border: 2px solid white;
    background-color: white;
    color: #2e39dc;
}

.filter-button:hover {
    background-color: transparent;
    color: white;
    transition-duration: 1s;
}

#events-body {
    min-height: 50vh;
}

.events-row {
    max-width: 100vw;
}

.carousel-box {
    min-width: 90vw;
    max-width: 90vw;
    min-height: 75vw;
    max-height: 75vw;
    margin: auto;
}

.carousel-image {
    min-width: 90vw;
    max-width: 90vw;
    min-height: 75vw;
    max-height: 75vw;
}

.description-box {
    min-width: 90vw;
    max-width: 90vw;
    /* min-height: 75vw; */
    background-color: #403d39;
    color: white;
    padding: 10px;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .carousel-box {
        min-width: 40vw;
        max-width: 40vw;
        min-height: 35vw;
        max-height: 35vw;
        margin-right: 0px;
    }
    .carousel-image {
        min-width: 40vw;
        max-width: 40vw;
        min-height: 35vw;
        max-height: 35vw;
    }
    .description-box {
        min-width: 40vw;
        max-width: 40vw;
        min-height: 35vw;
        margin-left: 0px;
    }
}