{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>PCW-Reset</title>
    <link rel="stylesheet" href="{% static 'account/css/auth.css' %}">
{% endblock %}

{% block content %}
    {% include 'messages.html' %}
    <div class="auth-box mx-auto p-3">
        <div class="auth-box-header">Reset Password </div>
        <form action="{% url 'reset_password' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="username" value={{username}}>
            <label for="password1">New Password:</label>
            <input type="Password" name="password1" class="field form-control" placehoder="Password" required>
            <label for="password2">New Password:</label>
            <input type="Password" name="password2" class="field form-control" placehoder="Confirm Paaword" required>
            <button type="submit" class="btn auth-button mt-3">Submit</button>
        </form>
    </div>
{% endblock %}