{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>PCW-Reset</title>
    <link rel="stylesheet" href="{% static 'account/css/auth.css' %}">
{% endblock %}

{% block content %}
    <section id="auth-body">
        <div class="auth-box mx-auto p-3 mb-5">
            <div class="auth-box-header">Reset Password </div>
            <form action="{% url 'forgot_password' %}" method="POST">
                {% csrf_token %}
                <label for="email">Email id:</label>
                <input type="email" name="email" class="field form-control" placehoder="Email" required>
                <button type="submit" class="btn auth-button mt-3">Submit</button>
            </form>
        </div>
    </section>
    <section id="auth-footer">
        {% include 'footer.html' %}
    </section>
{% endblock %}